* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}


.main { 
    font-family: Hind,sans-serif;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    z-index: 2;
    left: 0;
    right: 0;
    position: fixed;
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
    background-color: #fff;
}

.nav-bar {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    padding: 1.5%;
    display: flex;
    justify-content: space-around;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li {
    padding-right: 2em;
    display: block;
}   

.nav-bar a {
    text-decoration: none;
    color: #515769;
}

.home {
 height: 75vh;
 width: 100vw;
 background:url(./img/1920x1080/01.jpg)  center center no-repeat;
 background-size: cover;
}

.fonbg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    background-color: rgba(81,87,105,.4);
}

.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;

}

.promo h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
}

.promo p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}

.intro-btn{
    font-size: 15px;
    font-weight: 600;
    padding: 20px 30px;
    color: #515769;
    background: #fff;
    border-color: transparent;
    border-width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

.intro-btn:hover{
    color: #fff;
    background: #17bed2;
    border-color: transparent;
}

.iconfree {
    margin-right: 1em;
    width: 1.5em;
    height: 1.5em;
}

.start-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    margin-top: 11vh;
    text-align: center;
    color: #515769;
    font-size: 1.4em;
    font-weight: 700;
}

.start-text p {
    width: 40vw;
    line-height: 1.5em;
    color: #a6a7aa;
    font-size: 1em;
    font-weight: 300;
}

.cont-elements {
    margin: 5em 5em;
    display: flex;
    justify-content: space-between;
}

.elem {
    max-width: 30%;
    padding: 0 1em;

}

.elem img {
 width: 100%;
 height: auto;
}

.elem a {
outline: none;
text-decoration: none;
}

.elem h4>a {
    color: #515769;
}

.elem h4 {
display: flex;
justify-content: flex-start;
align-items: baseline;
font-size: 1.3em;
background-color: transparent;
}

.elem h4>span {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    color: #bfc1c7;
    margin-left: 10%;
}

.elem p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin: 1em 0;
    line-height: 1.5em;
}

.read-more {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #81848f;
    margin-bottom: 15px;
}

.imag {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.imag img {
    width: 49.9%;
}

.whywe {
    background-color: #fafafa;
    width: 100%;
    height: 100%;

}

.blocks{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 5em;
    flex-wrap: wrap;
    font-size: 14px;
}

.blocks a{
    text-decoration: none;
    outline: none;
}

.block {
    padding: 1.5em;
    margin: 0.1em;
    width: 25%;
    background-color: #fff;
    line-height: 4em;
    color: #515769;
}

.block h3{
    font-size: 1.5em;
    font-weight: 550;
}

.block img{
    position: relative;
    top: 1.2em;
    width: 2em;
    height: 2em;
}

.block p {
    line-height: normal;
    font-size: 1em;
    font-weight: 400;
    color: #a6a7aa;
}

.active {
    background-color:  #17bed2;
    color: #fff;

}

.active p{
    color: #fff;
}

.secpromo {
    background: url(./img/1920x1080/02.jpg) center center no-repeat fixed;
    position: relative;
    z-index: 1;
    background-size: cover;
    min-height: 100%;
}

.secpromo::before {
    content: " ";
    position: absolute;
    z-index: -1;
    background: rgba(81,87,105,.4);
    width: 100%;
    height: 100%;
}

.cont-secpromo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 7% 0;
    width: 50%;
    margin: 0 auto;
}

.cont-secpromo h2 {
    font-weight: 500;
    line-height: 1.4;
    font-size: 3.5em;
}

.cont-secpromo p {
    text-align: center;
    font-size: 1.3em;
    opacity: .8;
}

.block-photos {
    padding: 4% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.block-photos img {
    padding: 1px;
}

.pricing-fon {
    background-color: #fafafa;
    width: 100%;
}

.pricing {
    margin: auto;
    padding: 5%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.price-box {
    padding: 2% 5%;
    width: 15%;
    margin: 0.1em;
    background-color: #fff;
    line-height: 4em;
    color: #515769;
    
}

.price-box ul{
    padding: 1em 0;
    list-style: none;
    line-height: 2em;
}

.price-box li {
    position: relative;
    font-size: 0.9em;
    color: #81848f;
    padding-left: 1em;
    margin-bottom: 1em;
}

.price-box li::before {
    position: absolute;
    top: 43%;
    left: 0;
    width: 0.6em;
    height: 2px;
    background: #17bed2;
    content: ' ';
}

.prcbtn {
    text-transform: uppercase;
    color: #515769;
    background: #f3f4f5;
    border-color: transparent;
    border-width: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
    outline: none;
    cursor: pointer;
}

.prcbtn:hover {
    background-color: #17bed2;
    color: #fff;
}

.price-box h3{
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
    font-size: 22px;
}

.price-box img{
    position: relative;
    width: 2em;
    height: 2em;
}

.price-box p {
    line-height: normal;
    width: 90%;
    font-size: 1em;
    font-weight: 400;
    color: #a6a7aa;
}

.price-box h3>span{
    line-height: normal;
    font-size: 0.7em;
    font-weight: 400;
    color: #a6a7aa;
}

.active-block {
    padding: 6% 5%;
}

.review  {
    width: 100%;
    
}

.reviewin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    margin: auto;    
    padding: 4em 0;
}

.reviewin h2 {
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    font-size: 2em;
}

.textin {
    margin-bottom: 1.5em;
    width: 80%;
} 

blockquote {
    padding: 1em 0;
    position: relative;
    font-size: 1em;
    font-weight: 400;
    color: #a6a7aa;
    margin-left: 2em;
}

blockquote::before {
    position: absolute;
    top: 0em;
    left: -0.7em;
    font-size: 3em;
    display: inline-block;
    color: #17bed2;
    content: '“';
}

blockquote span{
    font-weight: 700;
    color: #81848f;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

.map span {
    color: #515769;
    font-size: 1em;
    font-weight: 400;
    padding: 1em 0;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    padding: 5% 10%;
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

.contacts ul {
    list-style: none;
    padding-right: 9em;
}

.contacts a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #515769;
}

.contacts a:hover {
    color: #51576994;
}

.contacts li {
    margin-bottom: 0.7em;
}

.footer {
    padding: 2% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    transform: scale(0.7);
}

.footer span a{
    text-decoration: none;
    font-weight: 700;
    color: #81848f;
}

.footer span {
    font-size: 1em;
    font-weight: 400;
    color: #a6a7aa;
}

@media (max-width: 940px) {
    .elem h4>span {
      margin: 0;
    }

    .elem h4 {
        flex-direction: column;
    }

    .start-text p {
        width: 100%;
    }
}

  @media (max-width: 767px) {
    .cont-elements {
        justify-content: flex-start;
        flex-direction: column;
        margin: 0;
    }

    .elem {
        max-width: 100%;
    }

    .imag img {
        width: 100%;
    }

    .blocks {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0;
    }

    .block{
        width:100%;
    }

    .pricing {
        width:100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .price-box {
        width: 100%;
    }

    .contacts {
        flex-direction: column;
    }

    .footer {
        padding: 0;
    }

}