* {
    margin: 0;
    padding: 0;
}



.main { 
    font-family: Hind,sans-serif;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    z-index: 2;
    left: 0;
    right: 0;
    position: fixed;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.nav-bar {
    width: 57%;
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li {
    padding-right: 2em;
    display: block;
}   

.nav-bar a {
    text-decoration: none;
    color: white;
}

.home {
 height: 75vh;
 width: 100vw;
 background:url(./img/1920x1080/01.jpg)  center center no-repeat;
 background-size: cover;
}

.fonbg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    background-color: rgba(81,87,105,.4);
}

.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;

}

.promo h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 1.4;
}

.promo p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}

.intro-btn{
    font-size: 15px;
    font-weight: 600;
    padding: 20px 30px;
    color: #515769;
    background: #fff;
    border-color: transparent;
    border-width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

.intro-btn:hover{
    color: #fff;
    background: #17bed2;
    border-color: transparent;
}

.iconfree {
    margin-right: 1em;
    width: 1.5em;
    height: 1.5em;
}

.latest-prod{
 height: 125vh;
 width: 100vw;
}

.start-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    margin-top: 11vh;
    text-align: center;
    color: #515769;
    font-size: 1.4em;
    font-weight: 700;
}

.start-text p {
    width: 40vw;
    line-height: 1.5em;
    color: #a6a7aa;
    font-size: 0.6em;
    font-weight: 300;
}

.cont-elements {
    margin: 5em 5em;
    display: flex;
    justify-content: space-between;
}

.elem {
    max-width: 30%;
    padding: 0 1em;

}

.elem img {
 width: 100%;
 height: auto;
}

.elem a {
outline: none;
text-decoration: none;
}

.elem h4>a {
    color: #515769;
}

.elem h4 {
display: flex;
justify-content: flex-start;
align-items: baseline;
font-size: 1.3em;
background-color: transparent;
}

.elem h4>span {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    color: #bfc1c7;
    margin-left: 10%;
}

.elem p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin: 1em 0;
    line-height: 1.5em;
}

.read-more {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #81848f;
    margin-bottom: 15px;
}

.imag {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.imag img {
    width: 49.9%;
}

.whywe {
    background-color: #fafafa;
    width: 100%;
    height: 70vh;

}

.blocks{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 5em;
    flex-wrap: wrap;
}

.blocks a{
    text-decoration: none;
    outline: none;
}

.block {
    padding: 1.5em;
    margin: 0.1em;
    width: 25%;
    background-color: #fff;
    line-height: 3em;
    color: #515769;
}

.block h3{
    font-size: 1.5em;
    font-weight: 550;
    
}

.block img{
    position: relative;
    top: 1.2em;
    width: 2em;
    height: 2em;
}

.block p {
    line-height: normal;
    font-size: 1em;
    font-weight: 400;
    color: #a6a7aa;
}

.active {
    background-color:  #17bed2;
    color: #fff;

}

.active p{
    color: #fff;
}